{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
    <div class="container">
        <h1>Magic number</h1>
        <p>This is the current magic number: <span class="magic-number">{{ number }}</span></p>
    </div>
{% endblock %}
